body {
	font-family: Verdana, sans-serif;
}
.container {
  margin: 20px auto;
  width: 85%;
  padding: 0;
  border: none;
  background: #222;
  color: #fff;
  position: relative;
}
.container a {
	color: #fff;
}
/* -------- HEADER ------- */
.header {
	background: #0099ff;	
	color: #fff;
	font-weight: 300;
	width: 100%;
	margin: 4px auto;
}
.header a {
	display: inline-block;
	color: #fff;
	font-size: small;
	vertical-align: top;
	margin-top: 2px;
}
.site-info {
	display: inline-block;
	width: 580px;
	padding: 4px 4px 0 4px;
	vertical-align: top;
}
.site-info a {
	text-decoration: none;
	font-size: medium;
	letter-spacing: 1px;
	margin: 0;
	padding-left: 2px;
}
.site-info img {
	border: 1px solid #222;
	margin-right: 2px;
}
.user-info {
	display: inline-block;
	float: right;
	text-align: right;
	padding: 4px;
}
.user-info a {
	color: #fff;
	text-decoration: none;
}
.user-info a:hover {
	color: #fff;
	text-decoration: underline;
}
/* ------- LOGIN -------- */
.login {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
.login input {
	float: left;
	padding: 1px 6px;
	margin: 4px 2px;
	font-size: 10pt;
	letter-spacing: 1px;
	width: 72px;
	border: none;
}
.login input:focus { 
	outline: none; 
}
.login input[type="submit"] {
	margin-right: 4px;
	border-radius: 0;
	width: auto;
	letter-spacing: 0;
	border: none;
	background: #fff;
	color: #222;
}
.login p {
	padding: 16px 4px;
	font-size: 10pt;
	letter-spacing: 1px;
	color: #ccc;
}
.login a {
	margin: 0;
	color: #ccc;
}
/* ------- POSTS -------- */
ol {
	margin: 20px;
}
li {
	font-size: medium;
	font-weight: 300;
	padding: 2px;
}
li .title {
	font-weight: 100;
}
.post a {
	color: #fff;
	text-decoration: none;
}
.post a:hover {
	color: #fff;
	text-decoration: underline;
}
.post .meta {
	font-size: x-small;
}
/* ------- FOOTER -------- */
.separator {
	background: #0099ff;
	height: 5px;
}
/* ----- FULL POSTS ----- */
.content {
	margin: 6px 0 20px 0;
	font-size: small;
}
.comments {
	font-size: small;	
}
.comments .meta {
	font-size: x-small;
	font-weight: 300;
	margin-top: 10px;
	padding: 2px 0;
}
.comments p {
	margin: 0;
}
/* ----- PROFILE ----- */
.profile h1 {
	font-size: medium;
	font-weight: 500;
}
.profile p {
	font-size: small;
}
.profile a {
	font-size: small;
	display: block;
}
/* ----- SIGN UP ----- */
.signup input {
	display: block;
	padding: 1px 6px;
	margin: 4px 2px;
	font-size: 10pt;
	letter-spacing: 1px;
	width: 92px;
	border: none;
}
.signup input[type="submit"] {
	border-radius: 0;
	width: auto;
	letter-spacing: 0;
	border: none;
	background: #fff;
	color: #222;
}
